
#juego {
	width: 600px;
	height: 600px;
	position: relative;
	background-color: #FF0000;
}
.pieza {
	width: 200px;
	height: 200px;
	border: 2px solid black;
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-color: #0000FF;
}